
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;/* Firefox */

    ::-webkit-scrollbar { 

        display: none;  /* Safari and Chrome */
    
    }

}

button {

    border: none;

}

a {

    color: #000;
    text-decoration: none;

}

.page-heading {

    text-align: center;
    padding: 40px;
    padding-top: 80px;
    font-family: "JetBrainsMono";
    font-weight: 500;

    @media screen and (max-width: 510px) {
        
        display: none;

    }

}