
* {

    font-family: 'Fredoka', 'Poppins';
    font-weight: 300;

}

/*-------------- Fredoka --------------*/

@font-face {

    font-family: 'Fredoka';
    src: url('../../fonts/fredoka/fredoka_300.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;

}

@font-face {

    font-family: 'Fredoka';
    src: url('../../fonts/fredoka/fredoka_400.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;

}

@font-face {

    font-family: 'Fredoka';
    src: url('../../fonts/fredoka/fredoka_500.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;

}

@font-face {

    font-family: 'Fredoka';
    src: url('../../fonts/fredoka/fredoka_600.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;

}

@font-face {

    font-family: 'Fredoka';
    src: url('../../fonts/fredoka/fredoka_700.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;

}

/*-------------- Poppins --------------*/

@font-face {

    font-family: 'Poppins';
    src: url('../../fonts/poppins/poppins_100.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;

}

@font-face {

    font-family: 'Poppins';
    src: url('../../fonts/poppins/poppins_100_italic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;

}

@font-face {

    font-family: 'Poppins';
    src: url('../../fonts/poppins/poppins_200.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;

}

@font-face {

    font-family: 'Poppins';
    src: url('../../fonts/poppins/poppins_200_italic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;

}

@font-face {

    font-family: 'Poppins';
    src: url('../../fonts/poppins/poppins_300.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;

}

@font-face {

    font-family: 'Poppins';
    src: url('../../fonts/poppins/poppins_300_italic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;

}

@font-face {

    font-family: 'Poppins';
    src: url('../../fonts/poppins/poppins_400.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;

}

@font-face {

    font-family: 'Poppins';
    src: url('../../fonts/poppins/poppins_400_italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;

}

@font-face {

    font-family: 'Poppins';
    src: url('../../fonts/poppins/poppins_500.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;

}

@font-face {

    font-family: 'Poppins';
    src: url('../../fonts/poppins/poppins_500_italic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;

}

@font-face {

    font-family: 'Poppins';
    src: url('../../fonts/poppins/poppins_600.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;

}

@font-face {

    font-family: 'Poppins';
    src: url('../../fonts/poppins/poppins_600_italic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;

}

@font-face {

    font-family: 'Poppins';
    src: url('../../fonts/poppins/poppins_700.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;

}

@font-face {

    font-family: 'Poppins';
    src: url('../../fonts/poppins/poppins_700_italic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;

}

@font-face {

    font-family: 'Poppins';
    src: url('../../fonts/poppins/poppins_800.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;

}

@font-face {

    font-family: 'Poppins';
    src: url('../../fonts/poppins/poppins_800_italic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;

}

@font-face {

    font-family: 'Poppins';
    src: url('../../fonts/poppins/poppins_900.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;

}

@font-face {

    font-family: 'Poppins';
    src: url('../../fonts/poppins/poppins_900_italic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;

}

@font-face {
    font-family: 'Sixtyfour Convergence';
    src: url('../../fonts/sixtyfour_convergence/SixtyfourConvergence-Regular-VariableFont_BLED,SCAN,XELA,YELA.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Source Serif 4';
    src: url('../../fonts/source_serif_4/SourceSerif4-VariableFont_opsz\,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*-------------- JetBrainsMono --------------*/

@font-face {
    font-family: 'JetBrainsMono';
    src: url('../../fonts/jetBrainsMono/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('../../fonts/jetBrainsMono/JetBrainsMono-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('../../fonts/jetBrainsMono/JetBrainsMono-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('../../fonts/jetBrainsMono/JetBrainsMono-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('../../fonts/jetBrainsMono/JetBrainsMono-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('../../fonts/jetBrainsMono/JetBrainsMono-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('../../fonts/jetBrainsMono/JetBrainsMono-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('../../fonts/jetBrainsMono/JetBrainsMono-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('../../fonts/jetBrainsMono/JetBrainsMono-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('../../fonts/jetBrainsMono/JetBrainsMono-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('../../fonts/jetBrainsMono/JetBrainsMono-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('../../fonts/jetBrainsMono/JetBrainsMono-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}